@model Contato

@{
    ViewData["Title"] = "Criar Contato";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<hr />


<div class="col-lg-6 mx-auto">
    <form asp-controller="Contato" asp-action="Create" method="post">
        <div class="mb-3">
            <label asp-for="Nome" class="form-label">Nome</label>
            <input asp-for="Nome" class="form-control" placeholder="Digite o nome do contato">
        </div>

        <div class="mb-3">
            <label asp-for="Email" class="form-label">E-mail</label>
            <input asp-for="Email" class="form-control" placeholder="Digite o e-mail do contato">
        </div>

        <div class="mb-3">
            <label asp-for="Celular" class="form-label">Celular</label>
            <input asp-for="Celular" class="form-control" placeholder="Digite o celular do contato">
        </div>

        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary" accesskey="s"><u>S</u>alvar</button>
            <a class="btn btn-outline-secondary" asp-controller="Contato" asp-action="Index" accesskey="v"><u>V</u>oltar</a>
        </div>
    </form>
</div>